# GitLab CI/CD Pipeline for S3 Deployment
image: amazon/aws-cli:latest

variables:
  S3_BUCKET: "au-code.com"
  AWS_DEFAULT_REGION: "us-east-1" 

stages:
  - deploy

# before_script:
#   # Install additional tools if needed
#   - yum update -y
#   - yum install -y zip

deploy_to_s3:
  stage: deploy
  script:
    - aws s3 sync . s3://$S3_BUCKET --delete --exclude ".git/*" --exclude ".gitlab-ci.yml"
    
  only:
    - main