name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      ROLE_TO_ASSUME: ${{ vars.AWS_ROLE_TO_ASSUME }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials from OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ env.ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Sync to S3
        run: |
          aws s3 sync . s3://au-code.com --delete --exclude ".git/*" --exclude ".github/workflows/*"